http:
  routers:
    root:
      rule: "Host(`c0mpl3x.one`)"
      entryPoints:
        - websecure
      service: whoami
      tls:
        certResolver: myresolver

    dashboard:
      rule: "Host(`dashboard.c0mpl3x.one`)"
      entryPoints:
        - websecure
      service: api@internal
      tls:
        certResolver: myresolver

    whoami:
      rule: "Host(`whoami.c0mpl3x.one`)"
      entryPoints:
        - websecure
      service: whoami
      tls:
        certResolver: myresolver

    headscale:
      rule: "Host(`headscale.c0mpl3x.one`)"
      entryPoints:
        - websecure
      service: headscale
      tls:
        certResolver: myresolver

  services:
    whoami:
      loadBalancer:
        servers:
          - url: "http://host.containers.internal:8081"

    headscale:
      loadBalancer:
        servers:
          - url: "http://host.containers.internal:8080"