http:
  routers:
    root:
        rule: "Host(`c0mpl3x.one`)"
        entryPoints:
          - web
        service: whoami
        tls: {}
    dashboard:
      rule: "Host(`dashboard.c0mpl3x.one`)"
      entryPoints:
        - web
      service: api@internal
      tls: {}

    whoami:
      rule: "Host(`whoami.c0mpl3x.one`)"
      entryPoints:
        - web
      service: whoami
      tls: {}

    headscale:
      rule: "Host(`headscale.c0mpl3x.one`)"
      entryPoints:
        - web
      service: headscale
      tls: {}

  services:
    whoami:
      loadBalancer:
        servers:
          - url: "http://host.containers.internal:8081"

    headscale:
      loadBalancer:
        servers:
          - url: "http://host.containers.internal:8080"